body{
    display: grid;
    grid-template-areas:
    "nav nav"
    "art info"
    "foot foot";
    gap: 1rem;
}

nav{
    grid-area: nav;
}

footer{
    grid-area: foot;
    padding: 0.5rem;
    margin-top: 3rem;
    background-color: rgb(235, 233, 233);
    text-align: center;
}

footer p{
    display: block;
    color: rgb(98, 98, 98);
    text-align: center;
    text-decoration: none;
  }

.pixelArtPostSection{
    grid-area: art;
    display: grid;
    justify-content: right;
    gap: 2rem;
}

.pixelArtPostSection .card {
    width: 30vw;
}

.personSection{
    grid-area: info;    
}
.personSection .personSectionContainer{
    display: grid;
    justify-content: left;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
}