body{
    display: grid;
    grid-template-areas:
    "nav nav"
    "info art";
    gap: 1rem;
}

nav{
    grid-area: nav;
}

.pixelArtPostSection{
    grid-area: art;
    display: grid;
    justify-content: left;
    gap: 2rem;
}

.pixelArtPostSection .card {
    width: 30vw;
}

.personSection{
    grid-area: info;
}
.personSection .personSectionContainer{
    display: grid;
    justify-content: right;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
}
