.editContainer{
    display: grid;
    column-gap: 0.5rem;
}

input, select {
    grid-column: 1 / 20;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    display: inline-block;
    background-color: rgb(235, 233, 233);
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
}
  
button {
    grid-column: 20 / 20;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
  
button:hover {
    background-color: #45a049;
}

#modalContent .pixelArtContainer {
    display: grid;
    padding: 1rem;
    grid-template-columns: 50% 50%;
}

#modalContent .pixelArtContainer .colorPicker{
    border-radius: 0.5rem;
    margin: 2rem;
}

#modalContent .pixelArtContainer .commentSection{
    border-radius: 0.5rem;
    margin: 2rem;
    background-color: rgba(208, 208, 208, 0.696);
}

input[type="color"]{
    margin: 0;
    padding: 1;
    border-radius: 0.5rem;
    height: 90%;
    width: 100%;
    cursor: pointer;
}   